{% extends "base.html" %}

{% block title %}
<title>Anime Social</title>
    <style>
        .wrapper-out{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 140px;
            grid-gap: 1em;
        }
        .wrapper-out > div {
            background: #dddddd;
        }

        .wrapper-in{
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
    </style>
{% endblock %}


{% block content %}

<h1>Anime</h1>
{% if user.is_authenticated %}
<h3> Welcome {{ user|title }} </h3>
{% endif %}

    <h2>Fall 2019</h2>
    <div class="wrapper-out">
        {% for anime in object_list %}

            <div class="wrapper-in">
                <div>
                    <a href="{% url 'anime:anime_detail' pk=anime.id %}"><img src="{{ anime.img_url }}" width="100" height="140"></a>
                </div>
                <div>
                    <p style="font-size: 16pt">{{ anime.title }}</p>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
