{% extends "base.html" %}

{% block title %}
<title>Users</title>
{% endblock %}

{% block content %}
    <h1>Users</h1>
<div class="container">
    <!--- Friends -->
      <div class="row affix">
        <div class="col">
          <ul class="list-friends">
            {% for user in users %}
             <li class="list-group-item"><a href="{% url 'friend_view' pk=user.id %}">{{ user|title }}</a></li>
             {% endfor %}
           </ul>
        </div>
      </div>
     </div>
    <!--- End of friends-->

{% endblock %}
