
<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>Email: {{ user.email }}</p>
    <p>status: {{ user.userprofile.status }}</p>
    <p>favorite anime: {{ user.userprofile.favorite_anime }}</p>
    <p>Status form userprofile: {{ user.userprofile.status }}</p>



    <h1>Anime</h1>
    {% for anime in animes %}
            <img alt="anime poster" src="{{ anime.img_url }}" width="100" height="140"> {{ anime.title }}
        </a>
    {% endfor %}

    <h1>Friends</h1>
    {% for friend in friends %}
       <h2>{{ friend.username }}</h2>
    {% endfor %}

</div>
